.frm{
    padding-top: 50px; 
    margin-left: 100px; 
    width:80%;
    font-family: Roboto,Helvetica Neue,sans-serif;
}
.settle{
    width: 70%;    
    margin-left: 20%; 
    text-align: center
    
}